/*-------------------------*/
/*-----Re-useable code-----*/
/*-------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0 , 0.3)),url(img/pic1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*------Web page Tile00-----*/
.profile-title{
  position: absolute;
  top: 8%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: cursive;
  color: #fff;
}

/*----Section one starts--------*/
.middle{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu{
    width: 350px;
    border-radius: 8px;
    overflow: hidden;
}

.item{
    border-top: 5px solid #c4e1f5;
    overflow: hidden;
    border-radius: 10px;
}

.profile-btn{
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: #fff;
  position: relative;
}
.profile-btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left:20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.profile-btn i{
  margin-right: 10px;
}
.sub-menu{
  background: #555;
  /* padding: 10px 0 10px 10px; */
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  /* display: none; */
}
/*----- For social media box only------*/
.sub-menu-exception{
  background: #555;
  overflow: hidden;
}
.sub-menu-exception a i{
  color: #fff;
  margin:14px 15px;
}
/* end */

/*----Closing the box---*/
.sub-menu a:first-child{
  color:#fff;
  display: block;
  float:right;
  padding:0 1em 0.5em 0;
  /* position: relative; */
  font-size: 14px;
}
.sub-menu a:first-child:before{
  content: "";
  position: absolute;
  background: none;
}
/* end */

.sub-menu a{
  color: #fff;
  display: block;
  padding: 16px 26px;
  /* border-bottom: 0.1px solid #3498db; */
  position: relative;
  margin: 4px 0;
  font-size: 14px;
}
.sub-menu a:before{
  content: "";
  position: absolute;
  width:6px;
  height:100%;
  background: #c4e1f5;
  left:0;
  top:0;
  transition: 0.3s;
  opacity:0;
}
.sub-menu a:hover:before{
  opacity: 1;
}
/*-----Display content on click-------*/
.item:target .sub-menu{
  max-height: 10em;
}
/* end */

/*------Image Formating------*/
.profile-img{
  width: 30px;
  height: 30px;
  text-align: center;
}
.profile-name{
  padding: 0.3em 0em 0em 1em;
  text-align: center;
  position: absolute;
}
/* end */

/* external css */
/*----------Education parts dispaly box----------*/
.education-list-box {
  background: white;
  padding: 20px 30px;
  text-align: center;
  max-width: 500px;
  height: 200px;
  margin: 40px auto;
  position: relative;
  font-family: sans-serif;
}
.education-list-box span{
  float: right;
}
.education-list-box h1{
  margin-left: 60px;
}
.education-list-box h3{
  margin-top: 10px;
}
.education-list-box ul{
  margin-top: 20px;
}
/* end */

/* Styles for dialog window */
#small-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
  font-family: sans-serif;
}
#small-dialog p{
  font-size: 14px;
}
/* end */

/*---------Project dialog box-----*/
.project-dialog {
	background: white;
	padding: 20px 30px;
	text-align: center;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
  font-family: sans-serif;
}
.project-dialog .project-image img{
  width: 400px;
  height: 200px;
  position: relative;
  margin: 0 1em 0.5em 0;
}
.project-dialog h3{
  font-size: 25px;
}
.project-dialog .project-info .view-project{
  color: #3489db;
  background: #c4e1f5;
}
/* end */

/*---Icons larger size----*/
.x-icon-large{
  font-size: 20px;
}
.center-position a{
  /* text-align: center; */
  padding: 0.4em 0 0.4em 1em;
}
.x-menu a{
  display: inline-block;
  margin-right: 10px;
}
/* end */
/*------footer part-----*/
footer{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #3489db;
}
.copy-right span{
  color: #fff;
}
